{% extends "basic.html" %} {% block head %} {{ super() }} {% endblock %} {% block content %} {% block title %} Project List {% endblock %}
<!-- End of Topbar -->
<div class="content-wrapper ">
    <div class="container pt-5">
        <div class="col-sm-11 text-white bg-white px-3 py-3 mx-auto d-block  shadow">
            <p class="dashboard-heading-1">
                All Client's list</p>

            {% if message|length > 1 %}
            <div class="alert  alert-success alert-dismissible fade show " role="alert">
                <span class="badge badge-pill badge-success">Success </span> {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
            </div>
            {% endif %}

            <!-- Page Heading -->

            <!-- Page Heading -->



            <div class="card">

                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row"></div>
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>

                            <tr>
                                {% for head in head %}
                                <th>{{head}}</th>
                                {% endfor %}






                            </tr>

                        </thead>

                        <tbody>
                            {% for i in projects %}
                            <tr>
                                <td>{{i[1]}}</td>
                                <td>{{i[2]}}</td>
                                <td>{{i[3]}}</td>
                                <td>{{i[4]}}</td>



                                <td><a href="/client-edit?id={{i[0]}}"><button class="btn btn-outline-danger">Edit</button></a></td>

                                <td><a href="/client-delete?id={{i[0]}}"><button class="btn btn-outline-danger">Delete</button></a></td>

                                <td><a href="/clients-project?id={{i[0]}}"><button class="btn btn-outline-danger">View</button></a></td>


                                <!-- <td>
                                            <form action='/delete-country?id={{i[0]}}' method="post">
                                                <a href=""><button class="btn btn-outline-danger">Delete</button></a>

                                            </form>
                                        </td> -->

                                <!-- <td>
                                            <form action='/hotel-list-country?id={{i[0]}}' method="post">
                                                <a href=""><button class="btn btn-outline-danger">All Hotels</button></a>

                                            </form>
                                        </td> -->


                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- /.container-fluid -->

{%endblock%}